#menu.menu
  h1
    a(href=handler.reverse_url('home'))
      
  ul
    li(class= custom.active_menu==0 ? 'active':'')
      a(href=handler.reverse_url('hey')) Hey!
    li.pi
    li(class= custom.active_menu==1 ? 'active':'')
      a(href=handler.reverse_url('about-me')) Sobre mi
    li.pi
    li(class= custom.active_menu==2 ? 'active':'')
      a(href=handler.reverse_url('portafolio')) Portafolio
    li.pi
    li(class= custom.active_menu==3 ? 'active':'')
      a(href=handler.reverse_url('contact')) Contacto
    li.pi
    li(class= custom.active_menu==4 ? 'active':'')
      a(href=handler.reverse_url('blog')) Blog